<div class="container">
  <h1>Comprar Motocicleta</h1>




  <form [formGroup]="form">
    <div class="container">

        <div class="row" >
          <div class="col-sm" >
            <label for="exampleInputPassword1">Nombres</label>
          <input formControlName="nombre" type="text" class="form-control" placeholder="Nombres">
          </div>



          <div class="col-sm">
            <label for="exampleInputPassword1">Apellidos</label>
      <input formControlName="apellido" type="text" class="form-control" placeholder="Apellidos">
          </div>
        </div>




        <div class="row">
    <div class="col-sm">
      <label for="exampleInputPassword1">Correo Electrónico</label>
      <input formControlName="correo" type="text" class="form-control" placeholder="Correo Electrónico">
    </div>
    <div class="col-sm">
      <label for="exampleInputPassword1">Teléfono</label>
      <input formControlName="telefono" type="text" class="form-control" placeholder="Número de Teléfono">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="exampleInputPassword1">Dirección</label>
      <input formControlName="direccion" type="text" class="form-control" placeholder="Dirección">
    </div>
    <div class="col">
      <label for="exampleInputPassword1">Número de Tarjeta</label>
      <input formControlName="numTarjeta" type="text" class="form-control" placeholder="4074000000000000000">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="exampleInputPassword1">Fecha de Vencimiento</label>
      <input formControlName="fechaVencimiento" type="text" class="form-control" placeholder="MM/YY">
    </div>
    <div class="col">
      <label for="exampleInputPassword1">Código de Seguridad</label>
      <input formControlName="codigoSeguridad" type="text" class="form-control" placeholder="CCV">
    </div>
  </div>
    <div class="col">
      <label for="exampleInputPassword1">Titular en la Tarjeta</label>
      <input formControlName="nombreTarjeta" type="text" class="form-control" placeholder="Nombre que aparece en la tarjeta">
    </div>
  </div>
</form>

<!-- <div class="cart-item" *ngFor="let item of items">
    <h3>{{item.nombre}}</h3>
</div> -->
<section class="h-100 h-custom">

  <div class="container h-100 py-5">
    <h1 style="text-align:center ;">Checkout</h1>

    <div class="row d-flex justify-content-center align-items-center h-100" *ngIf="items.length >= 0">

      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Orden de Compra</th>
                <th scope="col">Format</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <th scope="row" >
                  <div class="d-flex align-items-center">
                    <img src="{{item.imagen}}" class="img-fluid rounded-3"
                      style="width: 120px;" alt="Book">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{item.nombre}}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>

                    <input id="form1" min="0" name="quantity" value="1" type="number"
                      class="form-control form-control-sm" style="width: 50px;" />

                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500;">${{item.precio}}</p>
                </td>
              </tr>
              <tr>

            </tbody>
          </table>
        </div>
              <div class="col-lg-4 col-xl-3">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-2">Subtotal</p>
                  <p class="mb-2">${{subTotal}}</p>
                </div>

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Descuento {{descuentoPorcentaje}}</p>
                  <p class="mb-0">- ${{descuento}}</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total </p>
                  <p class="mb-2">${{subTotal-descuento}}</p>
                </div>

                <button type="button" (click)="send()" class="btn btn-primary btn-block btn-lg">
                  <div class="d-flex justify-content-between">
                    <span>Pagar</span>


                  </div>
                </button>
                <div *ngIf="form.valid">
                  <div class="alert alert-success" role="alert">
                    Compra realizada con éxito!
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>


      <!-- </div>
    </div>
  </div> -->
</section>


