<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <strong style="font-size: 24px;">MOTOS UCB</strong>&nbsp;
      <div class="form-group">

        <input type="text" class="form-control" placeholder="Search product">

        <span class="fas fa-search search-icon"></span>
      </div>
      <button class="btn btn-primary">
        <i style="font-size:30px;" class="fas fa-cart-plus"></i>
        <div class="badge bg-danger">3</div>
      </button>
      <!-- <ul>
        <li>
          <a routerLink="">Inicio</a>
        </li>
        <li>
          <a routerLink="/contactos">Contactos</a>
        </li>
      </ul> -->



    </div>
  </div>
</header>
