<br><br><br><div class="container-fluid">
    <h1 style="text-align: center;">Contacta con nosotros!</h1>
    <div class="form-outline">
        <input type="text" id="formControlLg" class="form-control form-control-lg" />
        <label class="form-label" for="formControlLg">Nombre Completp</label>
      </div>
      <div class="form-outline">
        <input type="text" id="formControlLg" class="form-control form-control-lg" />
        <label class="form-label" for="formControlLg">Correo Electrónico</label>
      </div>
      <div class="form-outline">
        <input type="text" id="formControlLg" class="form-control form-control-lg" />
        <label class="form-label" for="formControlLg">Teléfono</label>
      </div>
</div>