

	<section class="ftco-section" style="margin-top: -96px;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contáctanos!</h2>
				</div>
			</div>
			<div class="row justify-content-center" >
				<div class="col-md-10">
					<div class="wrapper" >
						<div class="row no-gutters" >
							<div class="col-md-6" >
								<div class="contact-wrap w-100 p-lg-5 p-4" style="height: 920px;">
									<h3 class="mb-4">Envíanos un mensaje o sugerencia</h3>


									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="Nombres">
												</div>
                        <div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="Apellidos">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Mensaje"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Enviar Mensaje" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-lg-5 p-4 img">
									<h3>Contactenos </h3>

				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
                      <img src="assets/ubicacionIcon.svg">
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Ubicación: </span> 198 West 21th Street, Suite 721 New York NY 10016</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
                      <img src="assets/telefonoIcon.svg">
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Teléfono:</span> + 1235 2355 98</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<img src="assets/email.svg">
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email: </span> motos@ucb.com</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
                      <img src="assets/fbIcon.svg">
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Facebook: </span> Motos UCB La Paz</p>
					          </div>
				          </div>
                  <div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
                      <img src="assets/igIcon.svg">
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Instragram: </span> @motos_ucb</p>
					          </div>
				          </div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d942.9497046928636!2d-65.28050030602488!3d-19.02858472710911!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbc93a4e4402d7%3A0xbe597c51728d3ce5!2sChurrasqueria-Restaurante%20%22Do%C3%B1a%20Delicia%22!5e0!3m2!1ses!2sbo!4v1667428630531!5m2!1ses!2sbo" width="400" height="400" style="border-radius: 12px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>


