
<div class="container" style="margin-bottom: 24px;">
   <div class="row">
    <ng-container *ngFor="let producto of productList">
      <div class="card col-md-3" id="{{producto.id}}">
        <img src="{{producto.imagen}}" alt="">
        <h5 class="productdata">

          {{producto.nombre}}</h5>
          <p class="description">{{producto.descripcion}}</p>
        <p><strong>Precio: </strong> ${{producto.precio}}</p>

        <button class="btn btn-primary" type="button" routerLink="/comprar" (click)="addToCart(producto)">Comprar</button>
      </div>
    </ng-container>



  </div>

